* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    background-color: #e6e6e6;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header
{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(39, 80, 126);
    color: #fff;
    padding: 10px;
    border-bottom: 5px solid rgb(114, 134, 177);
    margin-bottom: 35px;
}

#form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component__container
{
    width: 95%;
    padding: 10px;
    border: 2px solid rgb(39, 80, 126);
    border-radius: 5px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.component__container h1 {
    margin-bottom: 15px;
}

.radio__button
{
    margin-right: 40px;
    width: 40%;
    min-width: 21%;
}

.radio__button input,
.checkbox__container input
{
    margin-right: 15px;
}

.inspection__type__container,
.site__radio__container
{
    display: flex;
    flex-wrap: wrap;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++CLEAN TO HERE++++++++++++++++++++++++++++++++*/

.status__container,
.inspection__comment__container,
.dropdown-container,
.manager__contact,
.item__container
{
    margin: 5px;
}

.status__container label,
.inspection__comment__container label,
.dropdown-container label,
.manager__contact label,
.item__container label 
{
    margin-right: 25px;
}

#reminder__component__container {
    padding: 0;
    background-color: yellow;
    text-decoration: underline;
    font-weight: 600;
}

#reminder__component__container span {
    color: red;
}

.hazards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item__container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.item__container label,
.item__container p
{
    margin-bottom: 5px;
}

.item__container textarea
{
    width: 100%;
}